name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: ubuntu-latest
    container:
      image: debian:stable-slim
    steps:
      - name: install zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1
      - name: install ghostty dependencies
        run: apt-get update && apt-get install -y libgtk-4-dev libadwaita-1-dev gettext libxml2-utils blueprint-compiler
      - name: run plugin test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: ghostty --version
        env:
          GHOSTTY_BUILD_OPTIONS: "-Demit-themes=false" # NOTE: 1.2.3 packaging is broken atm
